<wo:JMTablerLook selectedPage="$delegate.pageType" title="Are you sure?">
	<div class="empty">
		<div class="empty-header text-warning">?</div>
		<p class="empty-title h3"><wo:str value="$delegate.question" escapeHTML="$false" /></p>
		<p class="empty-subtitle text-secondary"><wo:str value="$delegate.explaination" escapeHTML="$false" /></p>
		<div class="empty-action">
			<div class="btn-list justify-content-center">
				<wo:link action="$delegate.cancel" class="btn">No, cancel</wo:link>
				<wo:link action="$delegate.confirm" class="btn btn-danger">Yes, do it</wo:link>
			</div>
		</div>
	</div>
</wo:JMTablerLook>
