body {
	font-family: Helvetica, Arial, Geneva, sans-serif;
	font-size: 90%;
}

table {
	width: 100%;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

ul {
	margin:  5px;
	padding: 0 0 0 20px;
}

table, td, tr, th {
	border-collapse: collapse;
	font-size: 100%;
}

td, th {
	padding: 4px;
	border: 1px solid #666;
}

th {
	background-color: #ccc;
	color: #000;

}

td {
	background-color: #fff;
}

.FormFieldTable td {
	background-color: inherit;
}

.FormFieldTable th {
	text-align: right;
	width: 250px;
}

label {
	float: left;
	width: 80px;
	text-align: right;
	line-height: 20px;
	padding-right: 10px;
}

/* INSTANCE LIST */

.Balls {
	width: 50px;
	margin: 0 auto;
	padding-top: 5px;
}

.InstanceSelect {
	text-align: center;
	width: 70px;
	padding-top: 8px;
}

.InstanceSelect form {
	padding: 0;
	margin: 0;
}

.AppControlLink {
	text-decoration: none;
}
.AppControl {
	text-transform: uppercase;
	background-color: #666;
	padding: 4px 8px;
	text-align: center;
	font-weight: bold;
	color: #fff;
}
.AppControlAutoRecoverSchedulingOn {
	color: yellow;
}

.Comment {
	font-size: 85%;
	font-style: oblique;
}

.ControlColOne,
.ControlColTwo {
	float: left;
	margin-right: 10px;
	text-align: center;
}

.ControlColOne {
	padding-top: 15px;
}

.Warning {
	color: red;
}

.AllBounce {
	line-height: 42px;
}

.Deaths {
	color: maroon;
	font-weight: bold;
}

.HostNotAvailable {
	color: maroon;
	font-weight: bold;
}
